$sidebar-width: 150px;
$sidebar-background: #3a3f44;

@mixin transition {
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
};

#wrapper {
   padding-left: 0;
   // margin-left: 360px;
   @include transition;
}

#wrapper.toggled {
    padding-left: $sidebar-width;
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
}

#sidebar-wrapper {
   //  z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: 0;
    height: 100vh;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: $sidebar-background;
    @include transition;
}

/* Sidebar Styles */
.sidebar-nav {
   width: $sidebar-width;
   // position: absolute;
   // top: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   .icon {
      margin-left: 10px;
   }
   li {
      text-indent: 10px;
      line-height: 40px;
      a {
         display: block;
         text-decoration: none;
         color: white;
         text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
         font-size: 18px;
      }
      a:hover {
         //  text-decoration: none;
          color: black;
          background: rgba(255,255,255,0.3);
      }
   }
}

.sidebar-nav > .sidebar-brand img {
   display: block;
   margin: 10px auto 30px;
}

// .ul_hr {
// 	background: white;
// 	opacity: 5%;
// 	height: 2px;
// }

.subsection {
	background-color: rgba(0,0,0, .25);
	opacity: 1;
}
.on_bottom {
	position: absolute;
	bottom: 0;
}

#page-content-wrapper {
	width: 100%;
  //  background-color: red;
	position: absolute;
	padding: 10px;
}
