@import '_slate';
@import '_sidebar';

.panel-heading {
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);;
}
.odds-date-row {
	font-size: 13px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);;
	padding: 4px 0px 0px 0px !important;
}
.popover {
	background-color: $theme-danger;
}
.nav-icon {
	height: 20px;
	margin-left: 10px;
}
.btn-scootlft{
	margin-right: 30px;
}
.small-inputbox{
	width: 3em;
	text-align: center;
}
.heading-success{
	color: $theme-success;
	// font-style: italic;
}
.heading-danger{
	color: $theme-danger;
	// font-style: italic;
}
.msg-user{
	color: $theme-info;
	font-style: italic;
}
.msg-date{
	font-size: 85%;
	color: $theme-primary;
}

.nodisplay{
	display: none;
}
.center{
	text-align: center;
	float: none;
}
.right{
	float: right;
	margin-top:-5px;
}

td.td-odds {
	text-align: center;
	button {
		width: 100%;
	}
	&.td-middle {
		// background-color: red;
		width: 45%;
		padding-left: 0px;
		padding-right: 0px;
		button {
			width: 50%;
		}
	}
}


// below defines modal classes
@each $color in (
	default $theme-default,
	primary $theme-primary,
	success $theme-success,
	info $theme-info,
	warning $theme-warning,
	danger $theme-danger
)
 {
	.modal-#{nth($color,1)} {
		color: white;
		background-color: #{nth($color,2)};
	}
}
