@import '_slate';
@import '_sidebar';

.panel-heading {
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.odds-date-row {
	font-size: 13px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	padding: 4px 0px 0px 0px !important;
}
.popover {
	background-color: white;
	color: $theme-danger;
}
.nav-icon {
	height: 20px;
	margin-left: 10px;
}
.btn-scootlft{
	margin-right: 30px;
}
.small-inputbox{
	width: 3em;
	text-align: center;
}
tr .heading {
	border-top: none;
}
.heading-success{
	color: $theme-success;
	// font-style: italic;
}
.heading-danger{
	color: $theme-danger;
	font-style: italic;
}
.msg-user{
	color: $theme-info;
	font-style: italic;
}
.msg-date{
	font-size: 85%;
	color: $theme-primary;
}

// .row.no-gutters {
// 	margin-left: 0;
// 	margin-right: 0;
// }
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.nodisplay{
	display: none;
}
.center{
	text-align: center;
// 	float: none;
}
.right{
	float: right;
	margin-top:-5px;
}
.bold {
   font-weight: bold;
}
img.logo-sm {
	object-fit: none;
	width: 35px;
	height: 25px;
}
img.logo-md {
	object-fit: none;
	width: 56px;
	height: 40px;
	margin-left: 0px;
}
button.pushDown {
	margin-top: 10px;
}
td.td-odds {
	button {
		width: 100%;
	}
	&.td-middle {
		// background-color: red;
		width: 45%;
		padding-left: 0px;
		padding-right: 0px;
// 		button {
// 			width: 50%;
// 		}
	}
}
.oldIcon {
	// float: right;
	color: $theme-danger;
	// height: 80px;
}
.collapseIcon {
	margin-left: 10px;
	transition: all 200ms linear;
}
.collapseIcon.open {
	transform: rotate(90deg);
}
// below defines modal classes
@each $color in (
	default $theme-default,
	primary $theme-primary,
	success $theme-success,
	info $theme-info,
	warning $theme-warning,
	danger $theme-danger
)
 {
	.modal-#{nth($color,1)} {
		color: white;
		background-color: #{nth($color,2)};
	}
}
