extends base

block content
	span.title ATS Game
	.container-fluid
		.row
			.col-md-4
				.panel.panel-success
					.panel-heading
						| Scoreboard
					#atsScoreboard
			.col-md-4
				.panel.panel-primary
					.panel-heading
						span#atsWeek
						button.atsInc.btn.btn-default.right.pushUp.hidden(value=1)
							span.glyphicon.glyphicon-chevron-right
						button.atsInc.btn.btn-default.right.pushUp.hidden(value=-1)
							span.glyphicon.glyphicon-chevron-left
						button#atsSubmit.btn.btn-warning.right.pushUp.hidden Save
					#atsPicks

block scripts
	script(type='text/javascript').
		getAtsPicks(2018, getWeek(new Date(), 'nfl'))
		getAtsScoreboard()