html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv="refresh" content="180")
		title 2DollarBets
		//- link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
		//- link(href='css/bootstrap.slate.min.css', rel='stylesheet')
		link(href='http://bootswatch.com/slate/bootstrap.min.css', rel='stylesheet')
		//- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(href='css/main.css', rel='stylesheet')
		link(href='manifest.json', rel='manifest')
		block head
	body
		#wrapper
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand
						img(src="images/2db_sm.png")
					li
						a.toggleSidebar(href='/') #[span.glyphicon.glyphicon-star] Games
					li
						a.toggleSidebar(href='/bets') #[span.iconspan.glyphicon.glyphicon-usd] Bets
					li
						a.toggleSidebar(href='/stats') #[span.glyphicon.glyphicon-stats] Stats
					li
						a.toggleSidebar(href='/scores') #[span.glyphicon.glyphicon-th-list] Scores
					li
						a.toggleSidebar(href='/futures') #[span.glyphicon.glyphicon-time] Futures
					li
						a.toggleSidebar(href='/overunder') #[span.glyphicon.glyphicon-retweet] OverUnder
					li
						a.toggleSidebar(href='/props') #[span.glyphicon.glyphicon-glass] Prop Bets
					li
						a.toggleSidebar(href='/options') #[span.iconspan.glyphicon.glyphicon-cog] Options
			#page-content-wrapper
				span.toggleSidebar.glyphicon.glyphicon-menu-hamburger.bigger
				a.right.statusIcon(href='#', data-toggle='modal', data-target='#helpModal')
					span.glyphicon.glyphicon-question-sign.text-muted
				a.right.statusIcon(href="/bets")
					span#notify1.text-danger.glyphicon.glyphicon-flag.hidden
				a.right.statusIcon(href='#', data-toggle='modal', data-target='#debtsModal')
					span#notify2.text-success.glyphicon.glyphicon-usd.hidden
				a.right.statusIcon(href='/futures')
					span#notify3.text-info.glyphicon.glyphicon-time.hidden
				block content

		//- need to stay in base because used for nfl & nba views
		#debtsModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-body
						span.title Debts
						button.close(type='button', data-dismiss='modal') #[span &times;]
						button#resolveDebts.btn.btn-sm.btn-primary.psuedoCenter Auto Resolve
						table#oweyou.table
							tr.heading
								th.heading-success(colspan=4) Owed to You:
							tr
								th Date
								th Game
								th Who
								th Paid
						table#youowe.table
							tr.heading
								th.heading-danger(colspan=4) You Owe:
							tr
								th Date
								th Game
								th Who
						input#debtHolder.nodisplay
		#resolveModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') #[span &times;]
						h4 These debts offset and can be dismissed:
						#resolveBody
		#helpModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						.title Help
						button.close(type='button', data-dismiss='modal') #[span.text-primary &times;]
					.modal-body
						p.help-heading Icons
						h4 #[span.glyphicon.glyphicon-flag.text-danger] Bets are waiting for you
						h4 #[span.glyphicon.glyphicon-usd.text-success] Show debts owed to you/others
						h4 #[span.glyphicon.glyphicon-time.text-info] Futures being offered
						h4 #[span.glyphicon.glyphicon-chevron-right] #[span.glyphicon.glyphicon-chevron-down] Open/close panel
						if pagename == "bets"
							h4 #[span.glyphicon.glyphicon-hourglass] First to act bet
							h4 #[span.glyphicon.glyphicon-comment] Comment attached
						br
						case pagename
							when 'odds'
								p.help-heading Games
								h4 - 'Set Odds Watch' lets you set a target odds amount that you would like to be texted when hit 
							when 'bets'
								p.help-heading Bets
								h4 - Over/under bets from others show your side in odds column, team name doesn't matter.
							when 'futures'
								p.help-heading Futures
								h4 - Possible futures are listed in separate panels.  If a person 'Gives' an offer, they will pay the odds listed to whomever 'Takes' the other offer.  A person can choose either side and will wait until his 'offer' is accepted by someone else.
								h4 - When submitting future offer, default time expiration of 7 days is added but can be modified.
		#alertModal.modal.fade
			.modal-dialog
				.modal-content#alertBody
					.modal-body
						h4#alertText
						button#alertOk.btn.btn-success.btn-block.btn-lg.nodisplay(data-toggle='modal', data-dismiss="modal") OK
						button#alertCancel.btn.btn-danger.btn-block.btn-lg.nodisplay(data-toggle='modal', data-dismiss="modal") Cancel
		#loginModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') #[span &times;]
						h4.modal-title Please login:
					.modal-body
						form
						label(for='loginUsername') Username
						input#loginUsername.form-control(required, autofocus)
						label(for='loginPassword') Password
						input#loginPassword.form-control(type='password', required)
					.modal-footer
						button#loginSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss='modal') Sign in
						//- button#loginRegister.btn.btn-primary.btn-lg.btn-block(data-dismiss='modal', data-toggle='modal', data-target='#registerModal') Register
		//- #registerModal.modal.fade
		//- 	.modal-dialog
		//- 		.modal-content
		//- 			.modal-header
		//- 				button.close(type='button', data-dismiss='modal') #[span &times;]
		//- 				h4.modal-title Register
		//- 			.modal-body
		//- 				form
		//- 				label(for='registerUsername') Username
		//- 				input#registerUsername.form-control(autofocus, required)
		//- 				label(for='registerSMS') SMS
		//- 				input#registerSMS.form-control(required)
		//- 				label(for='registerPassword') Password
		//- 				input#registerPassword.form-control(type='password', required)
		//- 				label(for='registerPassword2') Confirm Password
		//- 				input#registerPassword2.form-control(type='password', required)
		//- 			.modal-footer
		//- 				button#registerSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss='modal') Register
		#wipModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-body
						h2 Coming Soon ...
		block modals

		script(src='http://code.jquery.com/jquery-3.2.1.min.js')
		script(src='js/jquery.mobile.custom.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src='js/baf.js')
		block scripts
