extends base

block content
	span.title Bet Them All
	.container-fluid
		.row.no-gutters
			.col-md-12
				#sportMenu
					ul
						li.sportPick.nfl.selected
							a NFL
						li.sportPick.nba
							a NBA   
				select#btaYear.btn-default.right
							option(value='2023') 2023
							option(value='2022') 2022
							option(value='2021') 2021
							option(value='2020') 2020
		.row
			.col-md-4
				.panel.panel-success
					.panel-heading
						| Season Scoreboard
					#btaScoreboard
			.col-md-4
				.panel.panel-warning
					.panel-heading
						span#btaDate
						button.btaInc.btn.btn-default.right.pushUp(value=1)
							span.glyphicon.glyphicon-chevron-right
						button.btaInc.btn.btn-default.right.pushUp(value=-1)
							span.glyphicon.glyphicon-chevron-left
					.panel-collapse#btaSignup.pad15
						button#btaChallengeBtn.btn.btn-lg.btn-block.btn-primary.hidden Start a Challenge
						#btaInfoArea
						#btaPicksArea
						button#btaChoiceBtn.btn.btn-lg.btn-block.btn-primary.pushDown.hidden Join
