extends base

block content
	span.title Bet Them All
	.container-fluid
		.row
			.col-md-4
				.panel.panel-success
					.panel-heading
						| Season Scoreboard
					#btaScoreboard
			.col-md-4
				.panel.panel-warning
					.panel-heading
						span#atsDate
						button.atsInc.btn.btn-default.right.pushUp(value=1)
							span.glyphicon.glyphicon-chevron-right
						button.atsInc.btn.btn-default.right.pushUp(value=-1)
							span.glyphicon.glyphicon-chevron-left
						//- button#atsSubmit.btn.btn-warning.right.pushUp.hidden Save
					.panel-collapse#btaSignup.pad15
						button#btaChallenge.btn.btn-lg.btn-block.btn-primary.hidden Start a Challenge
						#btaInfo
						p.help-heading Who's In:
							#btaList
						p.help-heading.pushDown Your Choices(in green):
						#atsPicks.hidden
						button#btaBtn.btn.btn-lg.btn-block.btn-primary.hidden Join

block scripts
	script(type='text/javascript').
		let wk = getWeek(new Date(), 'nba')
		getAtsPicks('nba', 2020, new Date())
		getAtsScoreboard(2020, 'bta')