extends base
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   span.title Futures
   .container-fluid
      .row.no-gutters
         .col-md-4
            #futuresGroup
         .col-md-4
            .panel.panel-warning
               .panel-heading Offers from Others
                  a(data-toggle='collapse', href='#futuresOffers')#futuresOffersTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-down.hidden]
               #futuresOffers.panel-collapse.collapse
         .col-md-4
            .panel.panel-success
               .panel-heading Accepted Offers
                  a(data-toggle='collapse', href='#futuresAccepted')#futuresAcceptedTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-down.hidden]
               #futuresAccepted.panel-collapse.collapse

block modals
   #futureModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4#futureText
            .modal-body

               //- .form-group
               label(for='offerDays') Keep offer for this many days:
               .input-group
                  button.btn-increment.btn.btn-primary(value="0")
                     span.glyphicon.glyphicon-minus
                  input#futureTimeout.small-inputbox(value='7', min='0', type='number')
                  button.btn-increment.btn.btn-primary(value="1")
                     span.glyphicon.glyphicon-plus
            .modal-footer
               button#futureSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Accept
               button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureOdds.nodisplay
               input#futureTeam.nodisplay
               input#futureFuture.nodisplay
               input#futureSide.nodisplay
   #futureActModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Accept Future Bet:
            .modal-body
               h3#futureText2
               .form-group
                  button#futureOfferSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Accept
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureActId.nodisplay
               input#futureSessionId.nodisplay
   #futureRescindModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Rescind Offer:
            .modal-body
               h3#futureText3
               .form-group
                  button#futureRescindSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Rescind
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureRescindId.nodisplay

block scripts
   script(type='text/javascript') getFutures()
