extends base
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   strong.lead &nbspFutures
   //- .panel-group
   .panel.panel-warning
      .panel-heading Offers
         a(data-toggle='collapse', href='#futuresOffers')#futuresOffersTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-right.hidden]
      #futuresOffers.panel-collapse.collapse
   #futuresGroup
   .panel.panel-success
      .panel-heading Accepted
         a(data-toggle='collapse', href='#futuresAccepted')#futuresAcceptedTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-right.hidden]
      #futuresAccepted.panel-collapse.collapse
         
block modals
   #futureModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Future Bet:
            .modal-body
               h3#futureText
               .form-group
                  button#futureSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Accept
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureOdds.nodisplay
               input#futureTeam.nodisplay
               input#futureFuture.nodisplay
               input#futureSide.nodisplay
   #futureActModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Accept Future Bet:
            .modal-body
               h3#futureText2
               .form-group
                  button#futureOfferSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Accept
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureOdds.nodisplay
               input#futureActId.nodisplay
   #futureRescindModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Rescind Offer:
            .modal-body
               h3#futureText3
               .form-group
                  button#futureRescindSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Rescind
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#futureRescindId.nodisplay
               
block scripts
   script(type='text/javascript') getFutures()


            
