extends base 

block content
   strong.lead &nbspMessage Board
   .panel
      .panel-body
         form
            button#msgSubmit.btn.btn-success(type='submit') Send
            input#msgInput(type='text')
         #msgList

block scripts
   script(type='text/javascript') showMessages()
