extends base

block content
   //- strong.lead &nbspNBA&nbsp
   //- img(src="images/basketball.png")
   //- #savedBets
   //- #nbaOdds
   //- em#nbaTimestamp
   img.logo-md#nba(src="images/nba_logo_sprite_medium.png")
   //- stron.lead#nbaWeek
   .container-fluid
      .row.no-gutters
         .col-md-3
            em#nbaTimestamp.right
            #savedBets
            #nbaOdds1
         .col-md-3
            #nbaOdds2
         .col-md-3
            #nbaOdds3
         .col-md-3
            #nbaOdds4

block scripts
   script(type='text/javascript') getOdds('nba')
   script(type='text/javascript') getUsers()   
   script(type='text/javascript') getBets(-1,'savedBets',1);
