extends base

block content
   img.logo-md#nfl(src="images/nfl_logo_sprite_medium.png")
   stron.lead#nflWeek
   .container-fluid
      .row.no-gutters
         .col-md-3
            em#nflTimestamp.right
            #savedBets
            #nflOdds1
         .col-md-3
            #nflOdds2
         .col-md-3
            #nflOdds3
         .col-md-3
            #nflOdds4
   
   
block scripts
   script(type='text/javascript') getOdds('nfl')
   script(type='text/javascript') getUsers()   
   script(type='text/javascript') getBets(-1,'savedBets',1);
