extends base

block content
   a#sportNfl.sportPick.dropped(href='#')
      img.logo-md(src="images/nfl_logo_sprite_medium.png")
   //- span.glyphicon.glyphicon-resize-horizontal
   a#sportNba.sportPick.dimmed(href='#')
      img.logo-md(src="images/nba_logo_sprite_medium.png")
   //- strong.lead#nflWeek
   .container-fluid
      .row.no-gutters
         .col-md-3
            em#timestamp.right
            #savedBets
            #odds1
         .col-md-3
            #odds2
         .col-md-3
            #odds3
         .col-md-3
            #odds4
   
   
block scripts
   script(type='text/javascript') getOdds('nfl')
   script(type='text/javascript') getUsers()   
   script(type='text/javascript') getBets(-1,'savedBets',1);
