extends base

block content
   span.title Over/Under Game
   .container-fluid
      .row.no-gutters
            .col-md-12
               #sportMenu
                  ul
                     li.sportPick.nfl.selected
                        a NFL
                     li.sportPick.nba
                        a NBA
               select#ouYear.btn-default.right.pushbottom
                  option(value='2023') 2023
                  option(value='2022') 2022
                  option(value='2021') 2021
                  option(value='2020') 2020
                  option(value='2019') 2019
                  option(value='2018') 2018
                  option(value='2017') 2017
                  option(value='2016') 2016
      .row.no-gutters
         .col-md-4
            .panel.panel-warning.signup
               .panel-heading
                  | 2023 Signup
                  a(data-toggle='collapse', href='#ouSignup')#ouSignupTitle #[span.collapseIcon.open.glyphicon.glyphicon-triangle-right.hidden]
               #ouSignup.panel-collapse.pad15
                  p.help-heading How to Play:
                  ol
                     li Season win totals for all teams given
                     li You pick over/under for all teams
                     li Points given for correct picks
                     li Pick 3 special teams for bonus point each (B)
                     li Winner chosen at season end
                  p.help-heading In:
                  #ouList
                  p.help-heading.pushDown Your Choices:
                  #ouChoices
                  button#ouBtn.btn.btn-lg.btn-block.btn-primary Join
                  //- button#ouSave.btn.btn-success(type='submit', name='status', value='1') Save
            .panel.panel-success.active
               .panel-heading
                  | Projections
                  a(data-toggle='collapse', href='#ouProjection')#ouProjectionTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-down.hidden]
               #ouProjection.panel-collapse.collapse
         .col-md-4
            .panel.panel-primary.active
               .panel-heading
                  | Player Picks
                  a(data-toggle='collapse', href='#picksArea')#picksAreaTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-down.hidden]
               #picksArea.panel-collapse.collapse
         .col-md-4
            .panel.panel-info.active
               .panel-heading
                  | Standings
                  a(data-toggle='collapse', href='#standingsArea')#standingsAreaTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-down.hidden]
                  span.heading-danger.right * Proj. within 3 games
               #standingsArea.panel-collapse.collapse

block scripts
   script(type='text/javascript').
      getOverunder()
