extends base

block content
   span.title Prop Bets
   .panel.panel-primary
      .panel-collapse
         a.btn.btn-primary(type='button', data-toggle='modal', data-target='#propModal') Add Proposition
         #propList

block modals
   #propModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4 Prop Bet:
            .modal-body
               .form-group
                  label(for='propUser2') w/ Whom:
                  select#propUser2.form-control
               .form-group
                  label(for='propAmount') Bet Amount:
                  .input-group
                     button.btn-minus.btn.btn-primary
                        span.glyphicon.glyphicon-minus
                     input#propAmount.small-inputbox(value='2', min='1', type='number')
                     button.btn-plus.btn.btn-primary
                        span.glyphicon.glyphicon-plus
               .form-group
                  label(for='propProp') Proposition:
                  input#propProp.form-control
            .modal-footer
                  button#propSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss='modal') Submit
   #propAcceptModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4#propAcceptText
            .modal-body
               .form-group
                  button#propAcceptSubmit.btn.btn-success.btn-lg.btn-block(type='submit', data-dismiss="modal") Accept
                  button.btn.btn-danger.btn-lg.btn-block(type='submit', data-dismiss="modal") Cancel
               input#propAcceptId.nodisplay
block scripts
   //- script(type='text/javascript') getUsers()
   //- script(type='text/javascript') showProps()
