extends base

block content
   span.title Scores
   .container-fluid
      .row.no-gutters
         .col-md-12
            include ./sportsmenu.pug            
      .row.no-gutters
         .col-md-3
            .panel.panel-primary
               .panel-heading
                  span#scoresPeriod
                  button.scoresInc.btn.btn-default.right.pushUp(value=1)
                     span.glyphicon.glyphicon-chevron-right
                  button.scoresInc.btn.btn-default.right.pushUp(value=-1)
                     span.glyphicon.glyphicon-chevron-left
                  //- button#scoresSport.btn.btn-sm.btn-warning.btn-scootlft.right NFL
                  input#scoresDate.nodisplay
               #scoresArea.panel-body

block scripts
   script(type='text/javascript') showScores(($('.sportPick.selected').attr('class').split(/\s+/)[1] == 'nfl')?getWeek(new Date(),'nfl'):new Date())
