extends base

block content
   a#sportNfl.sportPick.dropped
      img.logo-md(src="images/nfl_logo_sprite_medium.png")
   //- span.glyphicon.glyphicon-resize-horizontal
   a#sportNba.sportPick.dimmed
      img.logo-md(src="images/nba_logo_sprite_medium.png")
   .container-fluid
      .row.no-gutters
         .col-md-3
            .panel.panel-primary
               .panel-heading
                  span#scoresPeriod
                  button.scoresInc.btn.btn-default.right(value=1)
                     span.glyphicon.glyphicon-chevron-right
                  button.scoresInc.btn.btn-default.right(value=-1)
                     span.glyphicon.glyphicon-chevron-left
                  //- button#scoresSport.btn.btn-sm.btn-warning.btn-scootlft.right NFL
                  input#scoresDate.nodisplay
               #scoresArea.panel-body
         
block scripts
   script(type='text/javascript') showScores(getWeek(new Date()))
            
