extends base

block content
   span.title Scores
   .container-fluid
      .row.no-gutters
         .col-md-12
            #sportMenu
               ul
                  li#sportNfl.sportPick.dimmed
                     a NFL
                  li#sportNba.sportPick.selected
                     a NBA
                  li#sportNcaa.sportPick.dimmed
                     a NCAA            
      .row.no-gutters
         .col-md-3
            .panel.panel-primary
               .panel-heading
                  span#scoresPeriod
                  button.scoresInc.btn.btn-default.right.pushUp(value=1)
                     span.glyphicon.glyphicon-chevron-right
                  button.scoresInc.btn.btn-default.right.pushUp(value=-1)
                     span.glyphicon.glyphicon-chevron-left
                  //- button#scoresSport.btn.btn-sm.btn-warning.btn-scootlft.right NFL
                  input#scoresDate.nodisplay
               #scoresArea.panel-body

block scripts
   script(type='text/javascript') showScores(new Date())
