#sportMenu
   ul
      li.sportPick.nfl.hidden.selected
         a NFL
      li.sportPick.nba.hidden
         a NBA
      li.sportPick.ncaaf.hidden
         a NCAAF
      li.sportPick.ncaab.hidden
         a NCAAb
      li.sportPick.soccer.hidden
         a World Cup
   em#timestamp.right.pushDown
