extends base 

block content
   strong.lead &nbspStats
   .panel-group
      .panel.panel-primary
         .panel-heading Weekly
         #weeklyStats.panel-body
      .panel.panel-success
         .panel-heading Overall
            button#statsType.btn.btn-sm.btn-primary.right ALL
         #overallStats.panel-body
         
block modals
   #statsModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4#statsTitle
               #statsHistory
block scripts
   script(type='text/javascript') weeklyStats()
   script(type='text/javascript') overallStats(1,1)
            
