extends base

block content
   span.title Stats
   .container-fluid
      .row.no-gutters
         .col-md-12
            #sportMenu
               ul
                  li#sportNfl.sportPick
                     a NFL
                  li#sportNba.sportPick.selected
                     a NBA
                  li#sportNcaa.sportPick
                     a NCAA            
      .row
         .col-md-4
            .panel.panel-primary
               .panel-heading
                  span#statsPeriod
                  button.statsInc.btn.btn-default.right.pushUp(value=1)
                     span.glyphicon.glyphicon-chevron-right
                  button.statsInc.btn.btn-default.right.pushUp(value=-1)
                     span.glyphicon.glyphicon-chevron-left
                  //- button#statsType.btn.btn-sm.btn-default.btn-scootlft.right Summary
                  a(data-toggle='collapse', href='#weeklyStats')#weeklyStatsTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-right.hidden]
               #weeklyStats.panel-collapse.collapse
         .col-md-4
            .panel.panel-success
               .panel-heading
                  | Season
                  a(data-toggle='collapse', href='#overallStats')#overallStatsTitle #[span.collapseIcon.open.glyphicon.glyphicon-chevron-right.hidden]
                  button#statsYear.btn.btn-sm.btn-default.right.pushUp 2016
                     //- option 2015
                     //- option 2016
                  //- button#statsSport.btn.btn-sm.btn-warning.btn-scootlft.right NFL
               #overallStats.panel-collapse.collapse.in
            //- #statCarousel.carousel.slide(data-ride='carousel', data-interval='0')
            //-    .carousel-inner(role='listbox')
            //-       .item.active
            //-          .panel.panel-primary
            //-             .panel-heading
            //-                | Last 5 Days
            //-             #carousel1.panel-body
            //-       .item
            //-          .panel.panel-success
            //-             .panel-heading
            //-                | Overall
            //-                a(data-toggle='collapse', href='#overallStats')#overallStatsTitle
            //-                select#statsSport.btn.btn-sm.btn-primary.right
            //-                   option NBA
            //-                   option NFL
            //-                select#statsYear.btn.btn-sm.btn-primary.right
            //-                   option 2015
            //-                   option 2016
            //-             #carousel2.panel-body
            //-    a.left.carousel-control(href='#statCarousel', role='button', data-slide='next')
            //-       span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            //-       span.sr-only Previous
            //-    a.right.carousel-control(href='#statCarousel', role='button', data-slide='prev')
            //-       span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            //-       span.sr-only Next
         //-    button#graphDays.btn.btn-sm.btn-primary.left 30days
         .col-md-4
            canvas#winGraph(width='320', height='320')

block modals
   #statsModal.modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal') #[span &times;]
               h4#statsTitle
               #statsHistory
block scripts
   script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
   script(type='text/javascript').
      //- $('#statsSport').val('NFL');
      //- $('#statsYear').val('2016');
      getStats();
      //- weeklyStats(getWeek(new Date()))
      //- overallStats()
