extends base

block content
   a(href='#')
      img.logo-md#sportNfl(src="images/nfl_logo_sprite_medium.png")
   span.glyphicon.glyphicon-resize-horizontal
   a(href='#')
      img.logo-md#sportNba.dimmed(src="images/nba_logo_sprite_medium.png")
   //- span.glyphicon.glyphicon-asterisk.dimmed
   block modals

block scripts
   script(type='text/javascript') getPrefs()
