extends base 
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   strong.lead &nbspFutures
   #futuresGroup.panel-group
      //- .panel.panel-primary
      //-    .panel-heading
      //-       span#futuresTitle
      //-    #futuresPanel.panel-body
         
block modals

block scripts
   script(type='text/javascript') getFutures()


            
