extends base 
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   .container-fluid
      .col-md-3
         .panel.panel-primary
            .panel-heading 
               | Waiting on You
      .col-md-3
         .panel.panel-info
            .panel-heading
               | Waiting on Them
      .col-md-3
         .panel.panel-success
            .panel-heading
               | Accepted Bets
      .col-md-3
         .panel.panel-default
            .panel-heading
               | Refused Bets
         
block modals

block scripts
   


            
