extends base
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   strong.lead &nbspLogos
   #displayArea
   // table.table
   //    tr
   //       td
   //          button.btn.orangeoutline
   //             // img.logo-sm(src='images/nfl_logo_sprite_small.png')]
   //             // | ATL
   //             // | -3
   //             table.bg-warning
   //                tr
   //                   td(rowspan='2')
   //                      img.logo-md(src='images/nfl_logo_sprite_medium.png')
   //                   td ATL
   //                tr
   //                   td -3
   //       td
   //          table
   //             tr
   //                td
   //                   button.btn.btn-primary O42
   //             tr
   //                td
   //                   button.btn.btn-primary U42
   //       td
   //          button.btn.orangeoutline
   //             table.bg-warning
   //                tr
   //                   td(rowspan='2')
   //                      img.logo-md(src='images/nfl_logo_sprite_medium.png')
   //                   td ATL
   //                tr
   //                   td -3
   //    tr
   //       td
   //          button.btn.orangeoutline
   //             table.bg-warning
   //                tr
   //                   td(rowspan='2')
   //                      img.logo-md(src='images/nfl_logo_sprite_medium.png')
   //                   td ATL
   //                tr
   //                   td -3
   //       td
   //          table
   //             tr
   //                td
   //                   button.btn.btn-primary O42
   //             tr
   //                td
   //                   button.btn.btn-primary U42
   //       td
   //          button.btn.orangeoutline
   //             table.bg-warning
   //                tr
   //                   td(rowspan='2')
   //                      img.logo-md(src='images/nfl_logo_sprite_medium.png')
   //                   td ATL
   //                tr
   //                   td -3
      
block modals

block scripts
