extends base
//- block head
//-    link(href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet")
block content
   strong.lead &nbspLogos
   #displayArea
   img.logo-md(src='images/nfl_logo_sprite_medium.png')

block modals

block scripts
