extends base

block content
	span.title Tracker
	.container-fluid
		.row.no-gutters
			.col-md-12
				#sportMenu
					ul
						li.sportPick.nfl
							a NFL
						li.sportPick.nba.selected
							a NBA   
				select#trackerYear.btn-default.right
							option(value='2022') 2022
		.row
			.col-md-4
				.panel.panel-primary
					.panel-heading
						span#picksDate
						button.picksInc.btn.btn-default.right.pushUp(value=1)
							span.glyphicon.glyphicon-chevron-right
						button.picksInc.btn.btn-default.right.pushUp(value=-1)
							span.glyphicon.glyphicon-chevron-left
					#dailyPicks.pushDown
					a#dailyPicksBtn.btn.btn-lg.btn-block.btn-warning(data-toggle="modal", data-target="#picksModal").hidden Make Daily Picks
			.col-md-4
				.panel.panel-success
					.panel-heading
						| ATS Performance
						label.right(for="picksToggle") Show Your Picks
						input#picksToggle.right(type='checkbox')
					#tracker

block modals
	#teamModal.modal.fade
		.modal-dialog
			.modal-content
				.modal-body
					span.title#teamTitle
					button.close(type='button', data-dismiss='modal') #[span &times;]
					#trackerHistory
	#picksModal.modal.fade
		.modal-dialog
			.modal-content
				.modal-body
					span.title Daily Picks
					button.close(type='button', data-dismiss='modal') #[span &times;]
					#trackerPicksArea
					button#trackerSubmitBtn.btn.btn-lg.btn-block.btn-primary.pushDown Save